<!DOCTYPE html>
<html>
<head>
    <title>项目</title>
    #parse("sys/header.html")
    <style>
        .fca{
            margin-top: 7px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="关键字">
            </div>
            <div class="form-group col-sm-2">
                <select name="" id="" class="form-control"   v-model="q.state">
                    <option value="未指导">未指导</option>
                    <option value="已指导">已指导</option>
                </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>

            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <a class="btn btn-primary" @click="info"><i class="fa fa-info"></i>&nbsp;查看详情</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showInfo" class="panel panel-success">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" :disabled="showInfo" v-model="project.name"
                           placeholder="名称"/>
                </div>
            </div>
            <div class="form-group"  >
                <div class="col-sm-2 control-label">所属用户</div>
                <div class="col-sm-10">
                    <select class="form-control" :disabled="showInfo" v-model="project.user">
                        <option v-for="l in users" :value="l.userId">{{l.username}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">领域</div>
                <div class="col-sm-10">
                    <select class="form-control" :disabled="showInfo" v-model="project.type">
                        <option v-for="l in types" :value="l.id">{{l.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">内容</div>
                <div class="col-sm-10">
                    <textarea class="form-control" :disabled="showInfo" v-model="project.content" placeholder="内容"
                              cols="30" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">地点</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" :disabled="showInfo" v-model="project.area"
                           placeholder="地点"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" :disabled="showInfo" v-model="project.time"

                           onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss', choose: function(date){vm.project.time=date;}})"
                           placeholder="时间"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">费用</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" :disabled="showInfo" v-model="project.price"
                           placeholder="费用"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支付方式</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" :disabled="showInfo" v-model="project.pay"
                           placeholder="支付方式"/>
                </div>
            </div>
            <div class="form-group" v-if="showInfo">
                <div class="col-sm-2 control-label">添加时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" :disabled="showInfo" v-model="project.gmttime"
                           placeholder="添加时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" :disabled="showInfo" v-model="project.state"
                           placeholder="状态"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary"   value="打印" @click="p()"  />
                &nbsp;&nbsp;<input type="button" class="btn btn-default" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
    <div v-show="showInfo" class="panel panel-success">
        <div class="panel-heading">项目指导过程</div>
        <form class="form-horizontal">
            <div class="form-group" v-for="l in comments">
                <div class="col-sm-2 control-label" v-if="l.pro">
                    {{l.proEntity.username}}<br>
                    <span style="font-size: 12px;color: #999">
                        {{l.gmttime}}
                    </span>
                </div>
                <div class="col-sm-2 control-label" v-else="l.user">
                    {{l.sysUserEntity.username}} <br>
                    <span style="font-size: 12px;color: #999">
                        {{l.gmttime}}
                    </span>
                </div>
                <div class="col-sm-10" style="margin-top: 7px">
                    {{l.content}}
                </div>
            </div>


            <div class="form-group" style="margin-top: 25px">
                <div class="col-sm-2 control-label">内容</div>
                <div class="col-sm-10">
                    <textarea class="form-control"  v-model="comment.content" placeholder="想要发送的话"
                              cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate1" value="发送"  />
            </div>
        </form>
    </div>


    <div v-show="showPrint" class="panel panel-success">
        <div class="panel-heading">项目详情</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">名称</div>
                <div class="col-sm-10 fca">
                    {{project.name}}
                </div>
            </div>
            <div class="form-group"  v-if="project.sysUserEntity">
                <div class="col-sm-2 control-label">所属用户</div>
                <div class="col-sm-10 fca">
                    {{project.sysUserEntity.username}}
                </div>
            </div>
            <div class="form-group"  v-if="project.proEntity">
                <div class="col-sm-2 control-label">指导专家</div>
                <div class="col-sm-10 fca">
                    {{project.proEntity.username}}
                </div>
            </div>

            <div class="form-group" v-if="project.typeEntity">
                <div class="col-sm-2 control-label">领域</div>
                <div class="col-sm-10 fca">
                    {{project.typeEntity.name}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">内容</div>
                <div class="col-sm-10 fca">
                    {{project.content}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">地点</div>
                <div class="col-sm-10 fca">
                    {{project.area}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">时间</div>
                <div class="col-sm-10 fca">
                    {{project.time}}
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">费用</div>
                <div class="col-sm-10 fca">
                    {{project.price}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支付方式</div>
                <div class="col-sm-10 fca">
                    {{project.pay}}
                </div>
            </div>
            <div class="form-group"  >
                <div class="col-sm-2 control-label">添加时间</div>
                <div class="col-sm-10 fca">
                    {{project.gmttime}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10 fca">
                    {{project.state}}
                </div>
            </div>

        </form>
    </div>

    <div v-show="showPrint" class="panel panel-success">
        <div class="panel-heading">项目指导过程</div>
        <form class="form-horizontal">
            <div class="form-group" v-for="l in comments">
                <div class="col-sm-2 control-label" v-if="l.pro">
                    {{l.proEntity.username}} <br>
                    <span style="font-size: 12px;color: #999">
                        {{l.gmttime}}
                    </span>
                </div>
                <div class="col-sm-2 control-label" v-else="l.user">
                    {{l.sysUserEntity.username}} <br>
                    <span style="font-size: 12px;color: #999">
                        {{l.gmttime}}
                    </span>
                </div>
                <div class="col-sm-10" style="margin-top: 7px">
                    {{l.content}}
                </div>
            </div>
        </form>
    </div>

</div>

<script src="${rc.contextPath}/js/admin/project.js?_${date.systemTime}"></script>
</body>
</html>